{% extends 'base.html' %}

{% load static %}

{% block head_content %}
<title>Pupiplast Sign In</title>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="row justify-content-md-center" >
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <div class="text-center"><img src="{% static 'img/logo-pupi.png' %}" class="img-fluid" height="30%" width="50%"/></div>
                <br />
                <h4 class="mb-4" style="text-align: center;" >Inicia Sesión</h4>

                    {% if error %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endif %}

                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombre de Usuario" name="username">
                        </div>
                        
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Contraseña" name="password">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mt-5">Iniciar Sesión</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}