{% extends "base.html" %} {% block head_content %}
<title>Cancelar Adquisiciones</title>
{% endblock %} {% block container %} {% load static %}
<!-- Esto se mostrara si el usuario tiene permisos -->
{% if request.user.is_staff is True %}
<div class="container">
  <form action="{% url 'cancelarP' %}" method="POST">
    {% csrf_token %}
    <h2>Cancela una factura completa:</h2>
    <div class="row">
      <div class="col text-center">
        <label>Escribe el número de la factura</label>
        <input type="number" name='compra' />
        <button type="submit" class="btn btn-primary">Cancelar</button>
      </div>
    </div>
  </form>
  <br />
  <hr style="border-top: 3px double #8c8b8b;"/>
  <form action="{% url 'pagarP' %}" method="POST">
    {% csrf_token %}
    <h2>Paga una factura completa:</h2>
    <div class="row">
      <div class="col text-center">
          <label>Escribe el número de la factura</label>
          <input type="number" name='compra' />
        <button type="submit" class="btn btn-primary">Pagar</button>
      </div>
    </div>
  </form>
  <br />
  <hr style="border-top: 3px double #8c8b8b;"/>
  <form action="{% url 'pagarP' %}" method="POST">
    {% csrf_token %}
    <h2>Paga un producto:</h2>
    <div class="row">
      <div class="col text-center">
          <label>Escribe el id del producto</label>
          <input type="number" name='compra' />
        <button type="submit" class="btn btn-primary">Pagar</button>
      </div>
    </div>
  </form>
  <br />
  {% if tabla %}
  <div class="container">
    <h3>{{ mensaje }}</h3>
  </div>
  {% endif %}
</div>
{% endif %}
<!-- Esto se mostrara si el usuario no tiene permisos -->
{% if request.user.is_staff is False %} {% include "permisos.html" %}
<!-- Esto se mostrara si el usuario no tiene permisos -->
{% endif%}
<!-- Esto finalizara el bloque del template -->
{% endblock %}
