{% extends "base.html" %} {% block head_content %}
<title>Buscar</title>
{% endblock %} {% block container %} {% load static %}
<div class="container">
  <form action="{% url 'buscarP' %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col text-center">
        <input
          name="description"
          class="form-control"
          type="text"
          placeholder="{{ query }}"
          id="myInput"
        />
        <br />
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </form>
  <br />
  <br />
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Descripción</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio de Venta</th>
          <th scope="col">Precio de Compra</th>
          <th scope="col">Precio Pagado</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% for descripcion in descripciones %}
        <tr>
          <th scope="row">{{ descripcion.nombre }}</th>
          <td>{{ descripcion.cantidad }}</td>
          <td>{{ descripcion.precio_vendido }}</td>
          <td>{{ descripcion.precio_compra }}</td>
          <td>{{ descripcion.precio_pagado }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if request.user.is_authenticated is False %}
  <div class="col-lg-4">
    <a href="{% url 'login' %}"> Inicia Sesión </a>
  </div>
  {% endif %}
</div>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
{% endblock %}
