{% extends "base.html" %} {% load static %} {% block head_content %}
<title>@{{ request.user }} | Nomina</title>
{% endblock %} {% block container %}
<!-- Esto se mostrara si el usuario tiene permisos -->
{% if request.user.is_staff is True %}
<div class="container">
  <div class="row justify-content-md-center" style="justify-content: center">
    <div class="col-6 pt-3 pb-3" id="profile-box">
      <h4 class="mb-4">Genera la nomina!</h4>
      <form method="POST">
        {% csrf_token %} {# Campo Nota #}
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="nota"
            placeholder="Nota"
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-5">
          Generar
        </button>
      </form>
      <hr/>
      <form action="{% url 'nominasF' %}" method="POST">
        <h4>Busca la nomina por fechas</h4>
        {% csrf_token %}
        <div class="row">
          <div class="col text-center">
            <label>Fecha Inicial</label>
            <input id="datetimepicker1" name="fechaI" type="text" />
            <label>Fecha Final</label>
            <input id="datetimepicker2" name="fechaF" type="text" />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col text-center">
            <button type="submit" class="btn btn-primary">Generar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
<!-- Esto se mostrara si el usuario no tiene permisos -->
{% if request.user.is_staff is False %} {% include "permisos.html" %}
<!-- Esto se mostrara si el usuario no tiene permisos -->
{% endif%}
<script>
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>
<script>
  $(function () {
    $('#datetimepicker2').datetimepicker();
  });
</script>
<!-- Esto finalizara el bloque del template -->
{% endblock %}
