{% extends "base.html" %}

{% block head_content %}
    <title>@{{ request.user }} | Nomina</title>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4">Genera la nomina!</h4>
                <form method="POST" >
                    {% csrf_token %}

                    {# Campo Nota #}
                    <div class="form-group">
                        <input
                            class="form-control"
                            type="text"
                            name="nota"
                            placeholder="Nota"
                        >
                    </div>

                    <!-- {# Campo Fecha #}
                    <div class="form-group">
                        <input
                            class="form-control"
                            type="datetime-local"
                            name="fechaf"
                        >
                    </div> -->

                    <button type="submit" class="btn btn-primary btn-block mt-5" >Generar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}