{% extends "base.html" %}

{% block head_content %}
<title>Cargar Venta</title>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4">Carga la Venta!</h4>

                <form method="POST" id="vent">
                    {% csrf_token %}

                    {# Campo Cliente #}
                    <div class="form-group">
                        <label for="Clientes">Escoge el Cliente:</label>
                        <select name="cliente_id" id="Clientes" class="form-control {% if form.cliente_id.errors %}is-invalid{% endif %}">
                            <option>----</option>
                            {% for cliente in clientes %}
                                <option value="{{cliente.cliente_id}}">{{cliente.nombre}}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            {% for error in form.cliente_id.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# Campo Descripcion #}
                    <div class="form-group">

                        <label for="Descripcion">Descripción:</label>
                        <select name="descripcion" id="Descripcion" class="form-control {% if form.descripcion.errors %}is-invalid{% endif %}">
                            {% for descripcion in descripciones %}
                                <option value="{{descripcion.pk}}">{{descripcion.nombre}}</option>
                            {% endfor %}
                        </select>

                        <div class="invalid-feedback">
                            {% for error in form.descripcion.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# Campo Cantidad #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.cantidad.errors %}is-invalid{% endif %}"
                            type="number"
                            step="any"
                            name="cantidad"
                            placeholder="Cantidad"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.cantidad.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# Campo Precio #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.precio_vendido.errors %}is-invalid{% endif %}"
                            type="number"
                            name="precio_vendido"
                            placeholder="precio por unidad"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.precio_vendido.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# Campo Nota #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.nota.errors %}is-invalid{% endif %}"
                            type="text"
                            name="nota"
                            placeholder="Nota"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.nota.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# Campo Usuario #}
                    <input type="hidden" name="usuario" value="1">

                    {# Campo Perfil #}
                    <input type="hidden" name="perfil" value="1">

                    {# Campo Venta #}
                    <input type="hidden" name="venta" value="1">

                    <button type="submit" class="btn btn-primary btn-block mt-5">Cargar!</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}