{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block head_content %}
<title>Ventas</title>
{% endblock %} {% block container %}

<div class="container">
  <div class="row justify-content-md-center" style="justify-content: center">
    <div class="col-8 pt-2 pb-2" id="profile-box">
      <h4 class="mb-4">Carga la Venta!</h4>

      <form method="POST" id="vent">
        {% csrf_token %}

        {{ formset.management_form }}

        <div class="form-group">
          <label for="Cliente">Escoge el Cliente:</label>
          <select name="nombre" id="Cliente" class="selectpicker form-control" data-live-search='true'>
            <option>----</option>
            {% for cliente in clientes %}
            <option value="{{cliente.pk}}">{{cliente}}</option>
            {% endfor %}
          </select>
        </div>

        <div id="form_set"> 
          {% for form in formset.forms %}
            {{form.non_field_errors}}
            {{form.errors}}

            {# Campo Descripcion #}
            <div class="form-group">
              <label>Descripción:</label>
              {{form.descripcion|add_class:"selectpicker form-control"|attr:"data-live-search='true'" }}
            </div>

            {# Campo Cantidad #}
            <div class="form-group">
              <input
                class="form-control"
                type="number"
                step="any"
                placeholder="Cantidad"
                value="{{ form.cantidad }}"
              />
            </div>

            {# Campo Credito #}
            <div class="form-group">
              <label>Crédito:</label>
              {{ form.credito }}
            </div>

            {# Campo Precio Vendido #}
            <div class="form-group">
              <input
                class="form-control"
                type="number"
                step="any"
                placeholder="Precio de Venta"
                value="{{ form.precio_vendido }}"
              />
            </div>

            {# Campo Nota #}
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Nota"
                value="{{ form.nota }}"
              />
            </div>

            <hr style="border-top: 3px double #8c8b8b;"/>
          {% endfor %}
        </div>

        <input
          onclick="add()"
          type="button"
          value="+"
          id="add_more"
          class="btn btn-default"
          style="width: 20%"
        />
        <div id="empty_form" style="display: none">
          {# Campo Descripcion #}
          <div class="form-group">
            <label>Descripción:</label>
            <!-- {{formset.empty_form.descripcion|add_class:"selectpicker form-control"|attr:"data-live-search='true'" }}
             -->
            {{ formset.empty_form.descripcion }}
          </div>

          {# Campo Cantidad #}
          <div class="form-group">
            <input
              class="form-control"
              type="number"
              step="any"
              placeholder="Cantidad"
              value="{{ formset.empty_form.cantidad }}"
            />
          </div>

          {# Campo Credito #}
          <div class="form-group">
            <label>Crédito:</label>
            {{ formset.empty_form.credito }}
          </div>

          {# Campo Precio Vendido #}
          <div class="form-group">
            <input
              class="form-control"
              type="number"
              step="any"
              placeholder="Precio de Venta"
              value="{{ formset.empty_form.precio_vendido }}"
            />
          </div>

          {# Campo Nota #}
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Nota"
              value="{{ formset.empty_form.nota }}"
            />
          </div>

          <hr style="border-top: 3px double #8c8b8b;"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-5">
          Cargar!
        </button>
      </form>
    </div>
  </div>
</div>

<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script type="text/javascript">
  function add() {
    var form_idx = $('#id_form-TOTAL_FORMS').val();
    $('#form_set').append(
      $('#empty_form')
        .html()
        .replace(/__prefix__/g, form_idx)
    );
    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  }  
</script>

{% endblock %}
